.header
    img.icon(src="winnie-the-pooh.svg", alt="Winnie the Pooh")
    <a href="https://www.vecteezy.com/free-vector/winnie-the-pooh">Winnie The Pooh Vectors by Vecteezy</a>
.content.content_white
    .maxwidth
        h4 Style Guide - White Background
        hr
        h5 Fonts
        h1 網頁品牌視覺引導 - 中文大標題 40px
        h1.en Website brand style guide - English H1 Heading 24px
        .h1_hr
        br
        h2 網頁品牌視覺引導 - 中文中標題 30px
        h2.en Website brand style guide - English H2 Heading 18px
        br
        h3 網頁品牌視覺引導 - 中文小標題 20px
        h3.en Website brand style guide - English H3 Heading 12px
        br
        hr
        h5 Colors
        .color
            .color_sample.color_sample_yellow
            .color_hex #ffd966
        .color
            .color_sample.color_sample_red
            .color_hex #bd2628
        .color
            .color_sample.color_sample_white
            .color_hex #fcfcfa
        .color
            .color_sample.color_sample_brown
            .color_hex #5b3005
        hr
        h5 Buttons
        .button 框線按鈕
        .button.button_yellow 黃色按鈕
        .button.button_red 紅色按鈕
.content.content_yellow
    .maxwidth
        h4 Style Guide - Yellow Background
        hr
        h5 Fonts
        h1 網頁品牌視覺引導 - 中文大標題 40px
        h1.en Website brand style guide - English H1 Heading 24px
        .h1_hr
        br
        h2 網頁品牌視覺引導 - 中文中標題 30px
        h2.en Website brand style guide - English H2 Heading 18px
        br
        h3 網頁品牌視覺引導 - 中文小標題 20px
        h3.en Website brand style guide - English H3 Heading 12px
        br
        hr
        h5 Colors
        .color
            .color_sample.color_sample_yellow
            .color_hex #ffd966
        .color
            .color_sample.color_sample_red
            .color_hex #bd2628
        .color
            .color_sample.color_sample_white
            .color_hex #fcfcfa
        .color
            .color_sample.color_sample_brown
            .color_hex #5b3005
        hr
        h5 Buttons
        .button.button_border 框線按鈕
        .button.button_yellow 黃色按鈕
        .button.button_red 紅色按鈕
.content.content_brown
    .maxwidth
        h4 Style Guide - Brown Background
        hr
        h5 Fonts
        h1 網頁品牌視覺引導 - 中文大標題 40px
        h1.en Website brand style guide - English H1 Heading 24px
        .h1_hr
        br
        h2 網頁品牌視覺引導 - 中文中標題 30px
        h2.en Website brand style guide - English H2 Heading 18px
        br
        h3 網頁品牌視覺引導 - 中文小標題 20px
        h3.en Website brand style guide - English H3 Heading 12px
        br
        hr
        h5 Colors
        .color
            .color_sample.color_sample_yellow
            .color_hex #ffd966
        .color
            .color_sample.color_sample_red
            .color_hex #bd2628
        .color
            .color_sample.color_sample_white
            .color_hex #fcfcfa
        .color
            .color_sample.color_sample_brown
            .color_hex #5b3005
        hr
        h5 Buttons
        .button 框線按鈕
        .button.button_yellow 黃色按鈕
        .button.button_red 紅色按鈕